@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Rent your car !</h1>
            <h2 class="masthead-subheading mb-0">Travel around the country for reasonable rents</h2>
            <a href="/Cars" class="btn btn-primary btn-xl rounded-pill mt-5">Book Your Car Now</a>
        </div>
    </div>
  
</header>

